{% extends 'blog/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content%}
<!-- Crear una bonita página de inicio para tu blog es fundamental para atraer a los visitantes y brindarles una experiencia agradable. Aquí tienes algunos consejos para crear una página de inicio atractiva:
1. **Diseño limpio y organizado**: Utiliza un diseño limpio y organizado que facilite la navegación. Evita el desorden y asegúrate de que los elementos estén bien distribuidos.
2. **Encabezado llamativo**: Incluye un encabezado llamativo que refleje la temática de tu blog. Puedes usar una imagen de fondo o un logotipo para hacerlo más atractivo.
3. **Contenido destacado**: Destaca tus publicaciones más recientes o populares en la página de
inicio. Esto ayudará a los visitantes a descubrir tu contenido más relevante de inmediato.
4. **Llamadas a la acción**: Incluye llamadas a la acción claras,
como botones para suscribirse a tu boletín, seguirte en redes sociales o explorar categorías específicas de tu blog. -->

<p>Bienvenido a mi blog de ejemplo. Aquí encontrarás artículos interesantes sobre Python, programación y tecnología. ¡Explora nuestras publicaciones y no olvides dejar tus comentarios!</p>



<a href="{% url 'post_list' %}">Login</a>
{% endblock %}